{% block content %}
<div class="home-content">
  <header class="home-content__header">
    <h1 class="big-title big-title__sale">Ofertas</h1>
    <section class="home-content__search search-site">
      {% include 'includes/search-input.html' %}
    </section>
  </header>
  <section class="home-content__products sales-content__products">
    {% if produtos.length == 0 %}
      <div style='text-align: center; margin-top: 10px'>Nenhum produto encontrado!</div>
    {% endif %}
    {% for produto in produtos %}
    <div class="product-box" ng-repeat="produto in config.data">
      <div class="product-box__wrap">
        <span class="product-box__favorite__star"><i>1</i> &#9733;</span>
        <img src="{{produto.Produto.imagem}}" alt="" class="product-box__img">
        <section class="product-description">
          <div class="product-name line-clamp">
            <p class="product-name__text">{{produto.Produto.descricao}}</p>
          </div>
          <span class="product-price">{{produto.Produto.valor}}</span>
        </section>
      </div>
    </div>
    {% endfor %}
  </section>
  <section class="product-paginator">
    <ul class="product-paginator__list">
      {% if pagina != 1 %}
      <li class="product-paginator__item">
        <a href="javascript:void(0)" onclick="anterior({{pagina}}, {{departamento}}, '{{expressao}}')" class="product-paginator__link">
          <span aria-hidden="true">Anterior</span>
        </a>
      </li>
      {% endif %}
      {% if produtos.length > 20 %}
      <li class="product-paginator__item">
        <a href="javascript:void(0)" onclick="proxima({{pagina}}, {{departamento}}, '{{expressao}}')" class="product-paginator__link">{{data2}}
          <span aria-hidden="true">Próxima</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </section>
</div>
{% endblock %}
