{% block content %}
<div class="home-content">
  <header class="home-content__header">
    <h1 class="big-title big-title__stores">Lojas</h1>
  </header>

  <section class="stores-container">
    <div class="store-box">
      <div class="store-info__payment-icon">
        <img class="store-info__payment" src="/img/pagamentos/alelo.jpg" alt="Supermercados Rancho Bom">
        <img class="store-info__payment" src="/img/pagamentos/american.jpg" alt="Supermercados Rancho Bom">
        <img class="store-info__payment" src="/img/pagamentos/cabal.jpg" alt="Supermercados Rancho Bom">
        <img class="store-info__payment" src="/img/pagamentos/cba.jpg" alt="Supermercados Rancho Bom">
        <img class="store-info__payment" src="/img/pagamentos/elo.jpg" alt="Supermercados Rancho Bom">
        <img class="store-info__payment" src="/img/pagamentos/green.jpg" alt="Supermercados Rancho Bom">
        <img class="store-info__payment" src="/img/pagamentos/cabal.jpg" alt="Supermercados Rancho Bom">
        <img class="store-info__payment" src="/img/pagamentos/hiper.png" alt="Supermercados Rancho Bom">
        <img class="store-info__payment" src="/img/pagamentos/master.jpg" alt="Supermercados Rancho Bom">
        <img class="store-info__payment" src="/img/pagamentos/maestro.jpg" alt="Supermercados Rancho Bom">
        <img class="store-info__payment" src="/img/pagamentos/personal.jpg" alt="Supermercados Rancho Bom">
        <img class="store-info__payment" src="/img/pagamentos/sodexo.jpg" alt="Supermercados Rancho Bom">
        <img class="store-info__payment" src="/img/pagamentos/trio.png" alt="Supermercados Rancho Bom">
        <img class="store-info__payment" src="/img/pagamentos/visa.jpg" alt="Supermercados Rancho Bom">
        <img class="store-info__payment" src="/img/pagamentos/visa-electron.jpg" alt="Supermercados Rancho Bom">
      </div>
    </div>
    {% for loja in lojas %}
    <div class="store-box">
      <h2 class="store-box__title">{{loja.nome}}</h2>
      <div class="store-box__a store-box__col">
        <img class="store-box__img" src="{{loja.imagem1}}">
        <img class="store-box__img" src="{{loja.imagem2}}">
        <img class="store-box__img" src="{{loja.imagem3}}">
        <img class="store-box__img" src="{{loja.imagem4}}">
      </div>
      <div class="store-box__b store-box__col store-info">
        <ul class="store-info__list">
          <li class="store-info__item">
            <span><img class="store-info__icon" src="build/img/phone.png"></span>{{loja.telefone}}
          </li>
          <li class="store-info__item">
            <span>
              <img class="store-info__icon" src="build/img/email.png">
            </span>
            <a href="mailto:{{loja.email}}">{{loja.email}}</a>
          </li>
          <li class="store-info__item">
            <span>
              <img class="store-info__icon" src="build/img/user.png">
            </span>
            Gerente: {{loja.gerente}}
            </li>
          <li class="store-info__item">
            <span>
              <img class="store-info__icon" src="build/img/clock.png">
            </span>
            {{loja.atendimento}}
          </li>
          <li class="store-info__item">
            <span>
              <img class="store-info__icon" src="build/img/clock.png">
            </span>
            <a href="https://www.google.com.br/maps/dir//{{loja.latitude}},{{loja.longitude}}/@{{loja.latitude}},{{loja.longitude}},16z" target="_blank">Como chegar</a>
          </li>
        </ul>
      </div>
    </div>
    {% endfor %}

  </section>

</div>
{% endblock %}