{% block content %}
<div class="home-content">
  <header class="home-content__header">
    <h1 class="big-title big-title__sale">Ofertas</h1>
    <section class="home-content__search search-site">
      {% include 'includes/search-input.html' %}
    </section>
  </header>
  <section class="home-content__products sales-content__products">
    {% if produtos.length == 0 %}
      <div style='text-align: center; margin-top: 10px'>Nenhum produto encontrado!</div>
    {% endif %}
    {% for produto in produtos %}
    <div class="product-box" ng-repeat="produto in config.data">
      <div class="product-box__wrap">
        <span class="product-box__favorite__star" onclick="star({{produto.Produto.id}}, {{produto.Produto.stars}})"><i id="star{{produto.Produto.id}}">{{produto.Produto.stars}}</i> &#9733;</span>
        <img src="{{produto.Produto.imagem}}" alt="" class="product-box__img">
        <section class="product-description">
          <div class="product-name line-clamp">
            <p class="product-name__text">{{produto.Produto.descricao}}</p>
          </div>
          <span class="product-price">{{produto.Produto.valor}}</span>
        </section>
      </div>
    </div>
    {% endfor %}
  </section>
</div>
{% endblock %}
